/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

#container{
    background-color: #64002a;
    width: 80%;
    margin: 25px auto;
}

header{
    min-height: 15%;
	padding: 3% 0 1% 0;
}

header h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 80%;
	margin: 10px 0 0 15px;
	font-family: 'Over the Rainbow', cursive;
}

nav{
	color: rgb(0, 0, 0);
    height: 25%;
	margin: 10px 0 20px;
	padding: 1.5%;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

nav ul li {
    display: inline;
    font-family: 'Over the Rainbow', cursive;
    font-size: 1.5625em;
    margin: 0 20px;
}

nav details summary {
    margin-bottom: 5px;
}

nav details ul li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

nav details ul li a {
    text-decoration: none;
    color:black;
}

a, a:visited {
    color: inherit;
}

a:link {
    text-decoration: none;
    z-index: 100;
    color: rgb(0, 0, 0);
}

a:active {
    color:gray;
}

.sharolayn{
    padding: 5px 20px 15px 7px;
	margin: 0 0 10px 10px;
}

main {
    margin-top: 5px;
}

section article{
    background-color: #f5c3b0;
	height: 60%;
    /*width: 680px;
    float: left;*/
    padding: 20px 20px;
}

section aside{
	background-color: rgb(247, 208, 208);
	height: 650px;
    /*float: right;
    width: 200px;*/
    padding: 20px 20px;
}

h1{
	color: white;
	font-size: 2.6em;
    font-weight: 600;
    padding-bottom: 10px;
	color: #64002a;
	border-bottom:2px solid #64002a;
	font-family: 'Over the Rainbow', cursive;
	text-align: center;         
}

h2{
    font-size: 1.6em;
    font-weight: 600;
    padding-bottom: 10px;
	color: #64002a;
	border-bottom:2px solid #64002a;
	font-family: 'Over the Rainbow', cursive;
	text-align: center;   
}

h3{
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
	color: #64002a;
	border-bottom:2px solid #64002a;
	font-family: 'Over the Rainbow', cursive;
	text-align: center;   
}

.about{
	font-size: 1.25em;
    font-weight: 600;
    padding: 10px 0 10px 0;
	color:black;
	text-align:center;           
}

section article figure, section aside figure {
    text-align:center;
	margin: 5px;
}

section figure{
    margin: 10px 0 10px 15px;
}

main section article p, main aside p {
    margin: 5px 0;
	font-family: sans-serif;
	font-size: 0.9em;
	line-height: 1.25;
	max-width: 550px;
}

figcaption {
    text-align: center;
    color: #64002a;
    font-style: italic;
	padding-bottom: 10px;
}

figure img {  
	height: auto;
	width: 180px;
	margin: 5px 10px 5px;
}

footer{
    clear: both;
    background-color: #64002a;
    height: 50px;
    text-align: center;
    padding: 5px;
	color: white;
}                             

footer a:hover {
    color: gray;
    transition: .3s;
}

/*===========================
Contact Form
===========================*/
.contact-form {
    padding: 10px;
    max-width: 900px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: left;
}

.container-form{
    max-width: 900px;
    left: 100px;
    top: 150px;
    border-radius: 8px;
    padding: 0 10px;
}

.label_input_wrap {
    display: block;
}

h4{
    font-family: 'Over the Rainbow', cursive;
    font-size: 1.3750em;
	padding: 5px;
}

.reset input,
.submit input {
    color: white;
    padding: 5px 20px;
}

.reset,
.submit{
    display: inline;
}

.input-section{
    margin-bottom: 8px;
}

.submit input{
    background: #64002a;
}

.reset input{
    background: gray;
}

input{
    padding: 8px;
    border-radius: 3px;
}

textarea{
    font-family: sans-serif;
    padding: 6px 6px;
    border-radius: 4px;
	width: 170px;
	height: auto;
}

select{
    width: 185px;
    padding: 8px 0;
    border-radius: 4px; 
}

.com{
    display: block;
}

.in{
    color: black;
	display: block;
}

/* Media Queries */

@media (max-width: 389px){
	nav ul li {
		display: block;
		padding-bottom: 5px;
		font-size: 1.350em;
	}
}

@media (min-width: 960px) {
	.nav1 {
		text-align: center;
	}
	section article figure {
		float: right;
		width: 300px;
	}
}

@media (min-width: 960px) {
	section aside{
		width: 40%
		height: 600px;
		float: left;
		padding: 30px 20px;
	}
}

@media (min-width: 960px) {
	 section article {
		width: 58%;
		height: 600px;
		float: left;
		padding: 30px 20px;
	}
}
















